
#narrative > h1 {
  color: #0b8571;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 16px 0 16px;
}

#narrative > h4 {
  color: #0b8571;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 16px 0 16px;
}

#narrative > p {
  color: rgba( 0, 0, 0, 0.90 );
  font-size: 16px;
  margin: 16px 16px 8px 16px;
}
