#capture {
  background-image: url( /img/city.jpg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;  
}

#login {
  opacity: 0;
}

#capture > form > .row {
  display: flex;
  flex-direction: row;
}

#capture > form > .row:last-of-type > div:first-of-type {
  width: 44px; 
  height: 22px; 
  border-right: dotted 1px rgba( 255, 255, 255, 0.60 );
}

#capture > form > .row:last-of-type > div:last-of-type {
  height: 22px; 
  flex-grow: 1;  
}

#capture > form > .row > .icon {
  align-items: center;
  border-bottom: dotted 1px rgba( 255, 255, 255, 0.60 );  
  border-right: dotted 1px rgba( 255, 255, 255, 0.60 );
  display: flex;
  justify-content: center;
  height: 44px;
  width: 44px;
}

#capture > form > .row > .icon > img {
  opacity: 0.40;
  transition: opacity 0.30s;
}

#capture > form > .row > .icon > img.active {
  opacity: 0.80;
}
